@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>Enter a repository name or URL and search to get a Simple Download Link, you idiot.</p>
    <input type="text" id="searchString" name="searchString" onchange="search()" />
    <button onclick="search()" class="btn">Search</button>
</div>
