@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <input type="text" id="searchString" name="searchString" onchange="search()" />
    <button onclick="search()" class="btn">Search</button>
</div>